@charset "UTF-8";
/*--------- utilidades-------*/
.tarjetas-index, .row .card-1,
.row .card-2,
.row .card-3,
.row .card-4 {
  background-size: cover;
  color: white;
  height: 150px;
  margin: 15px auto;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.4s; }
  .tarjetas-index:hover, .row .card-1:hover,
  .row .card-2:hover,
  .row .card-3:hover,
  .row .card-4:hover {
    transform: scale(0.9, 0.9); }

.display-flex, .jumbotron-1, .jumbotron-2, .jumbotron-3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-around;
  align-items: stretch; }

.custom-h2, .container-servicios .item-logist h2, .container-servicios .item-post h2 {
  background-color: #474746;
  border-radius: 5px;
  color: #f0f0f0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center; }

.custom-texto, .container-servicios .item-logist .text, .container-servicios .item-post .text {
  padding: 20px;
  text-align: justify;
  font-size: 16px; }

.H2-separador, .main-galeria h2, .titulo-instructivo h2 {
  border-radius: 0px 0px 40px 40px;
  color: #ffffff;
  /*font-size: 30px;*/
  height: 1px;
  padding: 50px;
  background-color: #474847;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; }

.p-portadas, .jumbotron-1 p, .jumbotron-2 p, .jumbotron-3 p {
  background-color: #f0f0f0;
  /* Color de fondo para resaltar el bloque */
  padding: 30px;
  /* Espaciado interno */
  width: 50%;
  opacity: 0.9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); }

/*--------- RESETEO-------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "roboto", sans-serif;
  box-sizing: border-box; }

/*--------- secciones iguales para todas las paginas-------*/
/* Estilo base para la barra de navegación */
.navbar {
  padding: 1px !important; }
  .navbar .custom-bg {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #474847; }
    .navbar .custom-bg .navbar-brand {
      justify-content: flex-end; }
      .navbar .custom-bg .navbar-brand img {
        /* Justifica al margen derecho */
        width: 150px !important;
        /* Ajusta el ancho según tus necesidades */
        height: 50px !important;
        /* Mantiene la proporción original */
        padding: 10px !important; }
    .navbar .custom-bg .nav-izq {
      justify-content: flex-end;
      flex-basis: 0;
      flex-grow: 0; }
      .navbar .custom-bg .nav-izq .navbar-nav {
        font-size: "roboto", sans-serif !important; }
        .navbar .custom-bg .nav-izq .navbar-nav :hover {
          color: #fceb24 !important; }
        .navbar .custom-bg .nav-izq .navbar-nav .active {
          font-weight: bold;
          color: #f0f0f0 !important; }
        .navbar .custom-bg .nav-izq .navbar-nav .nav-link {
          color: #f0f0f0;
          text-decoration: none;
          padding: 5px; }
          .navbar .custom-bg .nav-izq .navbar-nav .nav-link i {
            color: #f0f0f0; }

/* -----------------------------------media queries--------------------------------------  */
@media (max-width: 768px) {
  .navbar-nav {
    justify-content: flex-end; }
  .container-fluid {
    display: block; } }

@media (max-width: 375px) {
  .navbar {
    padding: 10px;
    /* Reduce el espacio de relleno */
    flex-wrap: wrap;
    justify-content: center; }
  .navbar-logo img {
    width: 80px;
    /* Ajusta el tamaño del logotipo */ }
  .horizontal li {
    font-size: 8px;
    /* Reduce el tamaño de fuente para los elementos de navegación */ } }

/* Estilo base para la barra de footer */
footer {
  display: flex;
  /*position: fixed;*/
  bottom: 0;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  background-color: #474847;
  z-index: 10;
  margin-top: 1rem;
  gap: 1rem;
  box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.2);
  font-size: 15px;
  color: #f0f0f0; }
  footer img.marca {
    max-width: 100px;
    /* Ajusta el tamaño según tus necesidades */
    margin-right: 10px;
    /* Espacio entre el logotipo y el texto */ }

/* -----------------------------------media queries--------------------------------------  */
/* ------footer todas las secciones ----- */
@media (max-width: 768px) {
  footer {
    padding: 5px;
    /* Reduce el espacio de relleno */ }
  img.logo {
    max-width: 80px;
    /* Ajusta el tamaño del logotipo */ } }

@media (max-width: 375px) {
  footer {
    padding: 5px;
    /* Reduce el espacio de relleno */
    flex-wrap: wrap;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  img.logo {
    max-width: 100px;
    padding: 5px; } }

/* Estilo base para la barra ruta de navegacion */
.breadcrumb {
  list-style: none;
  padding: 0px 10px !important;
  margin: 0; }
  .breadcrumb-item {
    display: inline-block;
    margin-right: 5px; }
    .breadcrumb-item.active {
      color: #848e97 !important; }
    .breadcrumb-item a {
      text-decoration: none;
      color: #070707; }
      .breadcrumb-item a:hover {
        cursor: pointer;
        font-weight: bold; }

/* -----------------------------------media queries--------------------------------------  */
/*--RESPOSIVE  munu de ruta de navegacion- productos------  */
@media (max-width: 375px) {
  .navbar1 {
    background-color: #ffffff;
    display: flex;
    flex-direction: row-reverse;
    width: 1%;
    font-size: 15px;
    margin: 0px 10px; } }

@media (max-width: 768px) {
  .navbar1 {
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
    /* Ajusta el ancho según tus necesidades */ } }

/*--------- Estilos de cada seccion-------*/
/* ------------------------Estilo PARA EL INDEX---------------------------------------- */
.jumbotron {
  background-image: url("../recursos/imagen index.webp");
  background-size: cover;
  color: #050505;
  text-align: center !important;
  padding: 100px 0;
  font-family: 'Roboto', sans-serif !important;
  margin: 5px; }
  .jumbotron .btn-primary {
    background-color: #474847 !important;
    border: none !important;
    color: #ffffff;
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; }
    .jumbotron .btn-primary:hover {
      background-color: #fceb24 !important; }

.row {
  text-align: center; }
  .row .card-1 {
    background-image: url("../recursos/productos.webp"); }
  .row .card-2 {
    background-image: url("../recursos/DESCARGAS2.webp"); }
  .row .card-3 {
    background-image: url("../recursos/servicios-index.webp"); }
  .row .card-4 {
    background-image: url("../recursos/contacto.webp"); }

.galeria {
  display: flex;
  gap: 20px;
  margin: 5%; }
  .galeria .imagen {
    position: relative; }
    .galeria .imagen img {
      max-width: 100%;
      height: auto;
      border-radius: 5px; }
    .galeria .imagen .ver-mas {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      color: #fff;
      padding: 5px 10px;
      cursor: pointer;
      background-color: #474847;
      border: none;
      text-decoration: none;
      transition: background-color 0.3s ease; }
      .galeria .imagen .ver-mas:hover {
        background-color: #fceb24; }

/* -----------------------------------media queries--------------------------------------  */
/* RESPOSIVE PORTADA INDEX */
@media (max-width: 768px) {
  .jumbotron {
    background-image: url("../recursos/portadaindex768.WebP");
    background-size: cover; } }

@media (max-width: 425px) {
  .jumbotron {
    background-image: url("../recursos/portadaindex426.WebP"); }
    .jumbotron H1 {
      font-size: 20px !important;
      font-weight: bold; } }

@media (max-width: 375px) {
  .jumbotron {
    background-image: url("../recursos/PORTADAINDEX375.WebP"); }
    .jumbotron H1 {
      font-size: 20px !important;
      font-weight: bold; } }

@media (max-width: 696px) {
  .jumbotron {
    background-image: url("../recursos/PORTADAINDEX375.WebP"); }
    .jumbotron H1 {
      font-size: 20px !important;
      font-weight: bold; } }

/* RESPOSIVE productos destacados */
/* Tablet */
@media (max-width: 768px) {
  .galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Cambia a una sola columna en dispositivos móviles */
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .galeria h2 {
      font-size: 0; } }

@media (max-width: 375px) {
  .galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Cambia a una sola columna en dispositivos móviles */
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .galeria h2 {
      font-size: 0; } }

/* ------------------------Estilo para la seccion PRODUCTOS---------------------------------------- */
.jumbotron-1 {
  background-image: url("../recursos/Productos portada.png");
  background-size: cover;
  color: #050505;
  text-align: center;
  padding: 70px 0;
  margin: 10px 10px 40px; }
  .jumbotron-1 h1 {
    font-size: 36px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif !important; }
  .jumbotron-1 p .texto-negrita {
    font-weight: bold; }

.grid-container {
  display: grid;
  margin: 10px;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  font-family: 'Roboto', sans-serif; }
  .grid-container .product-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: grid; }
    .grid-container .product-card .product-description {
      padding-right: 20px;
      height: 100px;
      width: 50%;
      color: #f0f0f0; }
      .grid-container .product-card .product-description p {
        color: #050505; }
      .grid-container .product-card .product-description h2 {
        font-size: 20px;
        background-color: #474847;
        border-radius: 5px;
        color: #f0f0f0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center; }
    .grid-container .product-card .product-image img {
      max-width: 100%;
      border-radius: 5px;
      object-fit: cover;
      width: 300%;
      height: 100%; }

/*----- RESPOSIVE portada de productos----- */
@media (max-width: 768px) {
  .jumbotron-1 {
    background-image: url("../recursos/Productos portada.png");
    background-size: cover;
    padding: 50px 0; }
  .jumbotron-1 p {
    width: 70%; } }

@media (max-width: 425px) {
  .jumbotron-1 {
    background-image: url("../recursos/portadaproductos375.png"); } }

@media (max-width: 375px) {
  .jumbotron-1 {
    background-image: url("../recursos/portadaproductos375.png"); }
  .jumbotron-1 p {
    width: 70%;
    padding: 15px;
    background-size: none;
    padding: 50px 0;
    font-size: 15px; }
  .jumbotron-1 h1 {
    font-size: 24px;
    margin-bottom: 20px; }
  .jumbotron-1 p {
    width: 100%;
    padding: 20px; } }

/*----- RESPOSIVE tarjeta de productos----- */
@media (max-width: 768px) {
  .product-description h2 {
    font-size: 15px; } }

@media (max-width: 696px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center; }
    .grid-container .product-card {
      margin: 5px 20px;
      padding: 10px;
      border: 1px solid #ccc;
      background-color: #f9f9f9; }
      .grid-container .product-card .product-description h2 {
        font-size: 16px;
        margin-bottom: 5px; }
      .grid-container .product-card .product-description p {
        font-size: 12px;
        line-height: 1.2; }
      .grid-container .product-card .product-image img {
        max-width: 100%;
        height: auto; } }

@media (max-width: 375px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center; }
    .grid-container .product-card {
      margin: 5px 20px;
      padding: 10px;
      border: 1px solid #ccc;
      background-color: #f9f9f9; }
      .grid-container .product-card .product-description h2 {
        font-size: 16px;
        margin-bottom: 5px; }
      .grid-container .product-card .product-description p {
        font-size: 12px;
        line-height: 1.2; }
      .grid-container .product-card .product-image img {
        max-width: 100%;
        height: auto; } }

/* ------------------------Estilo para la seccion DESCARGAS---------------------------------------- */
.jumbotron-2 {
  background-image: url("https://img.freepik.com/foto-gratis/descargar-concepto-red-conexion-compartida-internet_53876-148096.jpg?t=st=1711069681~exp=1711073281~hmac=8f8853806a4492296b39c980a231c9c7b222c172642bce5e6f0d456919c65d9d&w=740");
  background-size: cover;
  color: #050505;
  text-align: center;
  padding: 70px 0;
  font-family: 'Roboto', sans-serif;
  margin: 10px; }
  .jumbotron-2 h1 {
    font-size: 36px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif !important; }
  .jumbotron-2 p .texto-negrita {
    font-weight: bold; }

.center {
  display: flex;
  align-items: center;
  margin: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around; }
  .center .article-card {
    width: 300px;
    height: 200px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 300ms; }
    .center .article-card:hover {
      transform: translateY(-2px);
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    .center .article-card img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .center .article-card .content {
      box-sizing: border-box;
      width: 100%;
      position: absolute;
      padding: 30px 20px 20px 20px;
      height: auto;
      bottom: 0;
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.6)); }
      .center .article-card .content .date {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.9);
        margin-bottom: 4px; }
      .center .article-card .content .title {
        font-size: 17px;
        color: #fff;
        margin: 0; }

/* -----------------------------------media queries--------------------------------------  */
/* ----RESPOSIVE tarjetas de instructivos descargas---- */
@media (max-width: 768px) {
  .article-card {
    margin: 10px; } }

@media (max-width: 375px) {
  .article-card {
    width: none; } }

/* ----RESPOSIVE portada descargas---- */
@media (max-width: 768px) {
  .jumbotron-2 {
    background-size: none;
    padding: 50px 0; }
    .jumbotron-2 .p {
      width: 70%; } }

@media (max-width: 375px) {
  .jumbotron-2 p {
    width: 70%;
    padding: 15px;
    background-size: none;
    padding: 50px 0;
    font-size: 15px; }
  .jumbotron-2 h1 {
    font-size: 24px;
    margin-bottom: 20px; }
  .jumbotron-2 p {
    width: 100%;
    padding: 20px; } }

/* ------------------------Estilo para la seccion SERVICIOS---------------------------------------- */
.jumbotron-3 {
  background-image: url("../recursos/servicios1.webp");
  background-size: cover;
  color: #050505;
  text-align: center;
  padding: 70px 0;
  font-family: 'Roboto', sans-serif;
  margin: 10px; }
  .jumbotron-3 h1 {
    font-size: 36px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); }
  .jumbotron-3 p .texto-negrita {
    font-weight: bold; }

.container-servicios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  grid-template-areas: "log-img logist" "post post-img"; }
  .container-servicios .item-log-img {
    padding: 20px;
    align-self: center;
    grid-area: log-img; }
    .container-servicios .item-log-img .image {
      max-width: 100%;
      height: auto; }
  .container-servicios .item-logist {
    grid-area: logist;
    padding: 20px;
    align-self: center; }
  .container-servicios .item-post {
    grid-area: post;
    padding: 20px;
    align-self: center; }
  .container-servicios .item-post-img {
    grid-area: post-img;
    padding: 20px;
    align-self: center; }
    .container-servicios .item-post-img .image {
      max-width: 100%;
      height: auto; }

/* ----RESPOSIVE portada servicios---- */
@media (max-width: 768px) {
  .jumbotron-3 {
    background-size: none;
    padding: 50px 0; }
  .jumbotron-3 p {
    width: 70%; } }

@media (max-width: 696px) {
  .jumbotron-3 {
    background-image: url("../recursos/portadaservicios375.png"); } }

@media (max-width: 375px) {
  .jumbotron-3 {
    background-image: url("../recursos/portadaservicios375.png"); }
  .jumbotron-3 p {
    width: 70%;
    padding: 15px;
    background-size: none;
    padding: 50px 0;
    font-size: 15px; }
  .jumbotron-3 h1 {
    font-size: 24px;
    margin-bottom: 20px; }
  .jumbotron-3 p {
    width: 100%;
    padding: 20px; } }

/* -----------------------------------media queries--------------------------------------  */
/* ----RESPOSIVE main servicios---- */
@media (max-width: 768px) {
  p.text {
    font-size: 15px;
    padding: 10px; } }

@media (max-width: 696px) {
  .container-servicios {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }
    .container-servicios p.text {
      font-size: 15px;
      gap: 10px; }
    .container-servicios h2 {
      font-size: 20px; } }

@media (max-width: 375px) {
  .jumbotron-3 p {
    width: 70%;
    padding: 15px;
    background-size: none;
    padding: 50px 0;
    font-size: 15px; }
    .jumbotron-3 p .h1 {
      font-size: 24px;
      margin-bottom: 20px; }
    .jumbotron-3 p .p {
      width: 100%;
      padding: 20px; } }

/* ----RESPOSIVE main servicios---- */
@media (max-width: 768px) {
  p.text {
    font-size: 15px;
    padding: 10px; } }

@media (max-width: 426px) {
  .container-servicios {
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: column !important; }
    .container-servicios p.text {
      font-size: 15px;
      gap: 10px; }
    .container-servicios h2 {
      font-size: 20px; } }

@media (max-width: 375px) {
  .container-servicios {
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: column !important; }
    .container-servicios p.text {
      font-size: 15px;
      gap: 10px; }
    .container-servicios h2 {
      font-size: 20px; } }

@media (max-width: 375px) {
  .jumbotron-3 p {
    width: 70%;
    padding: 15px;
    background-size: none;
    padding: 50px 0;
    font-size: 15px; }
    .jumbotron-3 p .h1 {
      font-size: 24px;
      margin-bottom: 20px; }
    .jumbotron-3 p .p {
      width: 100%;
      padding: 20px; } }

/* ------------------------Estilo para la seccion CONTACTO---------------------------------------- */
.contenedor-contacto {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 20px;
  max-width: 100%;
  padding: 20px; }
  .contenedor-contacto .card-mapa {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end; }
    .contenedor-contacto .card-mapa img {
      max-width: 100%;
      height: auto; }
  .contenedor-contacto .card-sucursales {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; }
    .contenedor-contacto .card-sucursales h2 {
      font-size: 15px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      background-color: #474847;
      border-radius: 5px;
      color: #f0f0f0;
      text-align: center; }
  .contenedor-contacto .card-formulario {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%; }
    .contenedor-contacto .card-formulario .form {
      text-align: left;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      display: flex;
      width: 100%;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center; }
      .contenedor-contacto .card-formulario .form label {
        display: block;
        margin-bottom: 10px;
        font-size: 18px; }
      .contenedor-contacto .card-formulario .form input,
      .contenedor-contacto .card-formulario .form textarea {
        width: 100%;
        padding: 12px 20px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 16px; }
      .contenedor-contacto .card-formulario .form input[type="submit"] {
        background-color: #474847;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer; }
        .contenedor-contacto .card-formulario .form input[type="submit"]:hover {
          background-color: #fceb24; }

/* -----------------------------------media queries--------------------------------------  */
/* ----RESPOSIVE  formulario de contacto---- */
@media (max-width: 768px) {
  .contenedor-contacto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* Espacio entre las columnas */
    max-width: 100%;
    /* Ocupa todo el ancho de la pantalla */
    padding: 20px;
    justify-content: center; }
    .contenedor-contacto .texto {
      width: 100%;
      /* Opcional: Ajusta el ancho según tus necesidades */
      font-size: 15px;
      line-height: 1.5;
      /* Centra horizontalmente */
      display: flex;
      flex-wrap: wrap;
      flex-direction: column; }
    .contenedor-contacto .card-formulario {
      display: flex;
      flex-wrap: wrap;
      flex: 0 0 80%; } }

@media (max-width: 375px) {
  .contenedor-contacto {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* Espacio entre las columnas */
    max-width: 100%;
    /* Ocupa todo el ancho de la pantalla */
    padding: 20px;
    justify-content: center; }
    .contenedor-contacto .text-center {
      margin: 10px; }
    .contenedor-contacto .card-mapa {
      display: flex;
      height: 10%;
      align-content: center; }
      .contenedor-contacto .card-mapa .img {
        max-width: 80%;
        /* La imagen no será más ancha que la columna */
        height: 60%;
        /* Mantiene la proporción de aspecto*/ }
    .contenedor-contacto .card-formulario {
      display: flex;
      flex-wrap: wrap;
      flex: 0 0 100%; }
      .contenedor-contacto .card-formulario .form label {
        font-size: 15px; }
      .contenedor-contacto .card-formulario .form input,
      .contenedor-contacto .card-formulario textarea {
        font-size: 12px; }
      .contenedor-contacto .card-formulario .form input[type="submit"] {
        font-size: 15px; }
    .contenedor-contacto .card-sucursales {
      /*border: 1px solid #ccc;*/
      padding: 20px;
      /*border-radius: 8px;*/
      /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center; }
      .contenedor-contacto .card-sucursales .p {
        font-size: 12px; } }

@media (max-width: 425px) {
  .contenedor-contacto {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* Espacio entre las columnas */
    max-width: 100%;
    /* Ocupa todo el ancho de la pantalla */
    padding: 20px;
    justify-content: center; }
    .contenedor-contacto .text-center {
      margin: 10px; }
    .contenedor-contacto .card-mapa {
      display: flex;
      height: 10%;
      align-content: center; }
      .contenedor-contacto .card-mapa .img {
        max-width: 80%;
        /* La imagen no será más ancha que la columna */
        height: 60%;
        /* Mantiene la proporción de aspecto*/ }
    .contenedor-contacto .card-formulario {
      display: flex;
      flex-wrap: wrap;
      flex: 0 0 100%; }
      .contenedor-contacto .card-formulario .form label {
        font-size: 15px; }
      .contenedor-contacto .card-formulario .form input,
      .contenedor-contacto .card-formulario textarea {
        font-size: 12px; }
      .contenedor-contacto .card-formulario .form input[type="submit"] {
        font-size: 15px; }
    .contenedor-contacto .card-sucursales {
      /*border: 1px solid #ccc;*/
      padding: 20px;
      /*border-radius: 8px;*/
      /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center; }
      .contenedor-contacto .card-sucursales .p {
        font-size: 12px; } }
