
/*--------- utilidades-------*/
/* reseteo*/
@import "../scss/utilities/reset";
@import "../scss/utilities/clases-globales";
@import "../scss/utilities/colores";

/*--------- secciones-------*/
/* Estilo base para la barra de navegación */
@import "../scss/sections/nav";

/* Estilo base para la barra de footer */
@import "../scss/sections/footer";
/* Estilo base para la barra ruta de navegacion */
@import "../scss/sections/breadcrumb";
/* ------------------------Estilo PARA EL INDEX---------------------------------------- */
@import "../scss/sections/index";
/* ------------------------Estilo para la seccion PRODUCTOS---------------------------------------- */
@import "../scss/sections/productos";
/* ------------------------Estilo para la seccion DESCARGAS---------------------------------------- */
@import "../scss/sections/descargas";
/* ------------------------Estilo para la seccion servicios---------------------------------------- */
@import "../scss/sections/servicios";
/* ------------------------Estilo para la seccion contacto---------------------------------------- */
@import "../scss/sections/contacto";

/* -----------------------------------media queries--------------------------------------  */

/* ------navbar todas las secciones ----- */
/*@media (max-width: 768px) {
    .navbar {

        padding: 10px;
    }

    .horizontal {

        gap: 10px;
    }
}*/
@media (max-width: 768px) {
    .navbar-nav {
        justify-content: flex-end
    }

    .container-fluid {
        display: block
    }


}





@media (max-width: 375px) {
    .navbar {
        padding: 10px;
        /* Reduce el espacio de relleno */
        flex-wrap: wrap;
        justify-content: center;
    }

    .navbar-logo img {
        width: 80px;
        /* Ajusta el tamaño del logotipo */
    }

    .horizontal li {
        font-size: 8px;
        /* Reduce el tamaño de fuente para los elementos de navegación */
    }
}

/* ------footer todas las secciones ----- */

@media (max-width: 768px) {
    footer {
        padding: 5px;
        /* Reduce el espacio de relleno */
    }

    img.logo {
        max-width: 80px;
        /* Ajusta el tamaño del logotipo */
    }
}

@media (max-width: 375px) {
    footer {
        padding: 5px;
        /* Reduce el espacio de relleno */
        flex-wrap: wrap;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    img.logo {
        max-width: 100px;
        padding: 5px;
    }
    }



/* -----------------------------seccion index---------------------------  */
/* RESPOSIVE PORTADA INDEX */
@media (max-width: 768px) {
    .jumbotron {
        background-image: url("../recursos/portadaindex768.png");
        background-size: cover;
    }
    }
@media (max-width: 425px) {
    .jumbotron {
        background-image: url("../recursos/portadaindex426.png");

    }
    .jumbotron H1 {
        font-size: 20px !important;
        font-weight: bold;
    }
}
@media (max-width: 375px) {
    .jumbotron {
        background-image: url("../recursos/PORTADAINDEX375.png");

    }
    .jumbotron H1 {
        font-size: 20px !important;
        font-weight: bold;
    }

}
@media (max-width: 696px) {
    .jumbotron {
        background-image: url("../recursos/PORTADAINDEX375.png");

    }
    .jumbotron H1 {
        font-size: 20px !important;
        font-weight: bold;
    }

}



/* RESPOSIVE productos destacados */
/* Tablet  */
@media (max-width: 768px) {
    .galeria {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* Cambia a una sola columna en dispositivos móviles */
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .galeria h2 {
        font-size: 0;
    }
}

@media (max-width: 375px) {
    .galeria {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* Cambia a una sola columna en dispositivos móviles */
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .galeria h2 {
        font-size: 0;
    }
   
    }


/* ------------------------------seccion productos------------------------  */

/*----- RESPOSIVE portada de productos----- */
@media (max-width: 768px) {
    .jumbotron-1 {
background-image: url("../recursos/Productos\ portada.png");
        background-size: cover;
        padding: 50px 0;

    }

    .jumbotron-1 p {
        width: 70%;
    }
}
@media (max-width: 425px) {
    .jumbotron-1 {
        background-image: url("../recursos/portadaproductos375.png");
    }
}
@media (max-width: 375px) {
    .jumbotron-1 {
        background-image: url("../recursos/portadaproductos375.png");
    }

    .jumbotron-1 p {
        width: 70%;
        padding: 15px;
        background-size: none;
        padding: 50px 0;
        font-size: 15px;
    }

    .jumbotron-1 h1 {

        font-size: 24px;
        margin-bottom: 20px;
    }

    .jumbotron-1 p {

        width: 100%;

        padding: 20px;
    }
}

/*----- RESPOSIVE tarjeta de productos----- */
@media (max-width: 768px){ 
    .product-description h2{
        font-size: 15px;
}
}

@media (max-width: 696px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }

    .product-card {
        margin: 5px 20px;
        padding: 10px;
        border: 1px solid #ccc;
        background-color: #f9f9f9;

    }

    .product-description h2 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .product-description p {
        font-size: 12px;
        line-height: 1.2;
    }

    .product-image img {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 375px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }

    .product-card {
        margin: 5px 20px;
        padding: 10px;
        border: 1px solid #ccc;
        background-color: #f9f9f9;

    }

    .product-description h2 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .product-description p {
        font-size: 12px;
        line-height: 1.2;
    }

    .product-image img {
        max-width: 100%;
        height: auto;
    }
}

/*--RESPOSIVE  munu de ruta de navegacion- productos------  */
@media (max-width: 375px) {
    .navbar1 {
        background-color: #ffffff;
        display: flex;
        flex-direction: row-reverse;
        width: 1%;
        font-size: 15px;
        margin: 0px 10px;


    }
}

@media (max-width: 768px) {
    .navbar1 {
        background-color: #ffffff;
        padding: 10px;
        display: flex;
        flex-direction: row-reverse;
        width: 50%;
        /* Ajusta el ancho según tus necesidades */

    }
}

/* ------------------------------seccion descargas------------------------  */

/* ----RESPOSIVE tarjetas de instructivos descargas---- */
@media (max-width: 768px) {

    .article-card {
        margin: 10px;
    }
}

@media (max-width: 375px) {
    .article-card {
        width: none
    }
}

/* ----RESPOSIVE portada descargas---- */
@media (max-width: 768px) {
    .jumbotron-2 {
        background-size: none;
        padding: 50px 0;

    }

    .jumbotron-2 p {
        width: 70%;
    }
}

@media (max-width: 375px) {
    .jumbotron-2 p {
        width: 70%;
        padding: 15px;
        background-size: none;
        padding: 50px 0;
        font-size: 15px;
    }

    .jumbotron-2 h1 {

        font-size: 24px;
        margin-bottom: 20px;
    }

    .jumbotron-2 p {

        width: 100%;

        padding: 20px;
    }
}

/* ------------------------------seccion servicios------------------------  */

/* ----RESPOSIVE portada servicios---- */
@media (max-width: 768px) {
    .jumbotron-3 {
        background-size: none;
        padding: 50px 0;

    }

    .jumbotron-3 p {
        width: 70%;
    }
}
@media (max-width: 696px) {
    .jumbotron-3{ 
        background-image: url("../recursos/portadaservicios375.png");
    }
}
@media (max-width: 375px) {
    .jumbotron-3{ 
        background-image: url("../recursos/portadaservicios375.png");
    }
    .jumbotron-3 p {
        width: 70%;
        padding: 15px;
        background-size: none;
        padding: 50px 0;
        font-size: 15px;

    }

    .jumbotron-3 h1 {

        font-size: 24px;
        margin-bottom: 20px;
    }

    .jumbotron-3 p {

        width: 100%;

        padding: 20px;
    }
}

/* ----RESPOSIVE main servicios---- */
@media (max-width: 768px) {

    p.text {
        font-size: 15px;
        padding: 10px;
    }
}

@media (max-width:  696px) {
    .container-servicios {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    p.text {
        font-size: 15px;
        gap: 10px;


    }

    h2 {
        font-size: 20px;

    }
}

@media (max-width: 375px) {
    .jumbotron-3 p {
        width: 70%;
        padding: 15px;
        background-size: none;
        padding: 50px 0;
        font-size: 15px;

    }

    .jumbotron-3 h1 {

        font-size: 24px;
        margin-bottom: 20px;
    }

    .jumbotron-3 p {

        width: 100%;

        padding: 20px;
    }
}

/* ----RESPOSIVE main servicios---- */
@media (max-width: 768px) {

    p.text {
        font-size: 15px;
        padding: 10px;
    }
}
@media (max-width: 426px) {
    .container-servicios {
        display: flex !important;
        flex-wrap: wrap !important;
        flex-direction: column !important;
    }

    p.text {
        font-size: 15px;
        gap: 10px;


    }

    h2 {
        font-size: 20px;

    }
}

@media (max-width: 375px) {
    .container-servicios {
        display: flex !important;
        flex-wrap: wrap !important;
        flex-direction: column !important;
    }

    p.text {
        font-size: 15px;
        gap: 10px;


    }

    h2 {
        font-size: 20px;

    }
}

@media (max-width: 375px) {
    .jumbotron-3 p {
        width: 70%;
        padding: 15px;
        background-size: none;
        padding: 50px 0;
        font-size: 15px;

    }

    .jumbotron-3 h1 {

        font-size: 24px;
        margin-bottom: 20px;
    }

    .jumbotron-3 p {

        width: 100%;

        padding: 20px;
    }
}

/* ------------------------------seccion contacto------------------------  */

/* ----RESPOSIVE  formulario de contacto---- */
@media (max-width: 768px) {
    .texto {
        width: 100%;
        /* Opcional: Ajusta el ancho según tus necesidades */
        font-size: 15px;
        line-height: 1.5;

        /* Centra horizontalmente */
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .contenedor-contacto {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        /* Espacio entre las columnas */
        max-width: 100%;
        /* Ocupa todo el ancho de la pantalla */
        padding: 20px;
        justify-content: center;
    }

    .card-formulario {

        display: flex;
        flex-wrap: wrap;
        flex: 0 0 80%;
    }

}

@media (max-width: 375px) {

    .text-center{ 
        margin: 10px 
    }
    .contenedor-contacto {
        display: flex;
        flex-direction: row;
        gap: 10px;
        /* Espacio entre las columnas */
        max-width: 100%;
        /* Ocupa todo el ancho de la pantalla */
        padding: 20px;
        justify-content: center;
    }

    .card-mapa {
        display: flex;
        height: 10%;
        align-content: center
    }

    .card-mapa img {
        max-width: 80%;
        /* La imagen no será más ancha que la columna */
        height: 60%;
        /* Mantiene la proporción de aspecto*/
    }

    .card-formulario {

        display: flex;
        flex-wrap: wrap;
        flex: 0 0 100%;
    }

    .card-sucursales {
        /*border: 1px solid #ccc;*/
        padding: 20px;
        /*border-radius: 8px;*/
        /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;

    }

    .card-sucursales p {
        font-size: 12px;
    }

    .form label {
        font-size: 15px;

    }

    .form input,
    textarea {
        font-size: 12px;

    }

    .form input[type="submit"] {
        font-size: 15px;
    }

    
}

@media (max-width: 425px) {
    .text-center{ 
        margin: 10px 
    }

    .contenedor-contacto {
        display: flex;
        flex-direction: row;
        gap: 10px;
        /* Espacio entre las columnas */
        max-width: 100%;
        /* Ocupa todo el ancho de la pantalla */
        padding: 20px;
        justify-content: center;
    }

    .card-mapa {
        display: flex;
        height: 10%;
        align-content: center
    }

    .card-mapa img {
        max-width: 80%;
        /* La imagen no será más ancha que la columna */
        height: 60%;
        /* Mantiene la proporción de aspecto*/
    }

    .card-formulario {

        display: flex;
        flex-wrap: wrap;
        flex: 0 0 100%;
    }

    .card-sucursales {
        /*border: 1px solid #ccc;*/
        padding: 20px;
        /*border-radius: 8px;*/
        /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;

    }

    .card-sucursales p {
        font-size: 12px;
    }

    .form label {
        font-size: 15px;

    }

    .form input,
    textarea {
        font-size: 12px;

    }

    .form input[type="submit"] {
        font-size: 15px;
    }

}