// Estilos para la sección PORTADA DESCARGAS

.jumbotron-2 {
    background-image: url("https://img.freepik.com/foto-gratis/descargar-concepto-red-conexion-compartida-internet_53876-148096.jpg?t=st=1711069681~exp=1711073281~hmac=8f8853806a4492296b39c980a231c9c7b222c172642bce5e6f0d456919c65d9d&w=740");
    background-size: cover;
    color: #050505;
    text-align: center;
    padding: 70px 0;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    @extend .display-flex;

    h1 {
        font-size: 36px;
        margin-bottom: 30px;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        font-family: 'Roboto', sans-serif !important;
    }

    p {
        @extend .p-portadas;

        .texto-negrita{
            font-weight: bold;
        }
    }
}

.titulo-instructivo {
    h2 {
        @extend .H2-separador;

    }
}

// Estilos para TARJETAS DE SECCION DESCARGAS
.center {
    display: flex;
    align-items: center;
    margin: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

    .article-card {
        width: 300px;
        height: 200px;
        border-radius: 12px;
        overflow: hidden;
        position: relative;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 300ms;

        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .content {
            box-sizing: border-box;
            width: 100%;
            position: absolute;
            padding: 30px 20px 20px 20px;
            height: auto;
            bottom: 0;
            background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));

            .date {
                font-size: 12px;
                color: rgba(255, 255, 255, 0.9);
                margin-bottom: 4px;
            }

            .title {
                font-size: 17px;
                color: #fff;
                margin: 0;
            }
        }
    }
}

/* -----------------------------------media queries--------------------------------------  */
/* ----RESPOSIVE tarjetas de instructivos descargas---- */
@media (max-width: 768px) {

    .article-card {
        margin: 10px;
    }
}

@media (max-width: 375px) {
    .article-card {
        width: none
    }
}

/* ----RESPOSIVE portada descargas---- */
@media (max-width: 768px) {
    .jumbotron-2 {
        background-size: none;
        padding: 50px 0;

        .p {
            width: 70%;
        }
    }
}

@media (max-width: 375px) {
    .jumbotron-2 p {
        width: 100% !important;
        padding: 15px;
        background-size: none;
        padding: 50px 0 !important;
        font-size: 15px;
    }

    .jumbotron-2 h1 {

        font-size: 24px;
        margin-bottom: 20px;
    }

    .jumbotron-2 p {

        width: 100%;

        padding: 20px !important;
    }
}
