footer {
    display: flex;
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    background-color: #474847;
    z-index: 10;
    margin-top: 1rem;
    gap: 1rem;
    box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.2);
    font-size: 15px;
    color: #f0f0f0; 
    img.marca {
        max-width: 100px;
        /* Ajusta el tamaño según tus necesidades */
        margin-right: 10px;
        /* Espacio entre el logotipo y el texto */ }
}

/* -----------------------------------media queries--------------------------------------  */
/* ------footer todas las secciones ----- */

@media (max-width: 768px) {
    footer {
        padding: 5px;
        /* Reduce el espacio de relleno */
    }

    img.logo {
        max-width: 80px;
        /* Ajusta el tamaño del logotipo */
    }
}

@media (max-width: 375px) {
    footer {
        padding: 5px;
        /* Reduce el espacio de relleno */
        flex-wrap: wrap;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    img.logo {
        max-width: 100px;
        padding: 5px;
    }
    }

  