// Estilos para la sección PORTADA INDEX
.jumbotron {
    // Propiedades de fondo
    background-image: url("../recursos/imagen index.WebP");
    background-size: cover;
    color: #050505;
    text-align: center!important;
    padding: 100px 0;
    font-family: 'Roboto', sans-serif !important;
    margin: 5px;
    

    // Estilos para el botón primario
    .btn-primary {
        background-color: $color-gris !important;
        border: none !important;
        color: #ffffff;
        text-decoration: none;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $color-hover !important;
        }
    }
}
// Estilos para las tarjetas de secciones DEL INDEX
.row {
    text-align: center;

    .card-1,
    .card-2,
    .card-3,
    .card-4 {
        @extend .tarjetas-index;
    }

    .card-1 {
        background-image: url("../recursos/productos.WebP");
    }

    .card-2 {
        background-image: url("../recursos/DESCARGAS2.WebP");
    }

    .card-3 {
        background-image: url("../recursos/servicios-index.WebP");
    }

    .card-4 {
        background-image: url("../recursos/contacto.WebP");
    } }

    .main-galeria {
        h2 {
        @extend .H2-separador;
          
        }
    }
    
    // Estilos para la galería de PRODUCTOS DESTACADOS INDEX
    .galeria {
        display: flex;
        gap: 20px;
        margin: 5%;
    
        .imagen {
            position: relative;
    
            img {
                max-width: 100%;
                height: auto;
                border-radius: 5px;
            }
    
            .ver-mas {
                position: absolute;
                bottom: 10px;
                left: 50%;
                transform: translateX(-50%);
                color: #fff;
                padding: 5px 10px;
                cursor: pointer;
                background-color: $color-gris;
                border: none;
                text-decoration: none;
                transition: background-color 0.3s ease;
    
                &:hover {
                    background-color: $color-hover;
                }
            }
        }
    }
/* -----------------------------------media queries--------------------------------------  */
    /* RESPOSIVE PORTADA INDEX */
    @media (max-width: 768px) {
        .jumbotron {
          background-image: url("../recursos/portadaindex768.png");
          background-size: cover;
        }
      }
      
      @media (max-width: 425px) {
        .jumbotron {
          background-image: url("../recursos/portadaindex426.png");
          H1 {
            font-size: 20px !important;
            font-weight: bold;
          }
        }
      }
      
      @media (max-width: 375px) {
        .jumbotron {
          background-image: url("../recursos/PORTADAINDEX375.png");
          H1 {
            font-size: 20px !important;
            font-weight: bold;
          }
        }
      }
      
      @media (max-width: 696px) {
        .jumbotron {
          background-image: url("../recursos/PORTADAINDEX375.png");
          H1 {
            font-size: 20px !important;
            font-weight: bold;
          }
        }
      }
      
      /* RESPOSIVE productos destacados */
      /* Tablet */
      @media (max-width: 768px) {
        .galeria {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          /* Cambia a una sola columna en dispositivos móviles */
          flex-wrap: wrap;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          h2 {
            font-size: 0;
          }
        }
      }
      
      @media (max-width: 375px) {
        .galeria {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          /* Cambia a una sola columna en dispositivos móviles */
          flex-wrap: wrap;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          h2 {
            font-size: 0;
          }
        }
      }