// Estilos para la sección PORTADA SERVICIOS
.jumbotron-3 {
    background-image: url("../recursos/servicios.png");
    background-size: cover;
    color: #050505;
    text-align: center;
    padding: 70px 0;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    @extend .display-flex;

    h1 {
        font-size: 36px;
        margin-bottom: 30px;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    p {
        @extend .p-portadas;
        .texto-negrita{ 
        font-weight: bold;}
    }
}
// Estilos para TARJETAS DE SECCION SERVICIOS
.container-servicios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    grid-template-areas:
        "log-img logist"
        "post post-img";

    .item-log-img {
        
        padding: 20px;
        align-self: center;
        grid-area: log-img;

        .image {
            max-width: 100%;
            height: auto;
        }
    }

    .item-logist {
        grid-area: logist;
        padding: 20px;
        align-self: center;

        h2 {
           @extend .custom-h2;
        }

        .text {
            @extend .custom-texto; 
        }
    }

    .item-post {
        grid-area: post;
        padding: 20px;
        align-self: center;

        h2 {
            @extend .custom-h2;
        }

        .text {
            @extend .custom-texto; 
        }
    }

    .item-post-img {
        grid-area: post-img;
        padding: 20px;
        align-self: center;

        .image {
            max-width: 100%;
            height: auto;
        }
    }
}
/* ----RESPOSIVE portada servicios---- */
@media (max-width: 768px) {
    .jumbotron-3 {
        background-size: none;
        padding: 50px 0;

    }

    .jumbotron-3 p {
        width: 70%;
    }
}
@media (max-width: 696px) {
    .jumbotron-3{ 
        background-image: url("../recursos/portadaservicios375.png");
    }
}
@media (max-width: 375px) {
    .jumbotron-3{ 
        background-image: url("../recursos/portadaservicios375.png");
    }
    .jumbotron-3 p {
        width: 70%;
        padding: 15px;
        background-size: none;
        padding: 50px 0;
        font-size: 15px;

    }

    .jumbotron-3 h1 {

        font-size: 24px;
        margin-bottom: 20px;
    }

    .jumbotron-3 p {

        width: 100%;

        padding: 20px;
    }
}
/* -----------------------------------media queries--------------------------------------  */
/* ----RESPOSIVE main servicios---- */
@media (max-width: 768px) {

    p.text {
        font-size: 15px;
        padding: 10px;
    }
}

@media (max-width:  696px) {
    .container-servicios {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        p.text {
            font-size: 15px;
            gap: 10px;
    
    
        }
        h2 {
            font-size: 20px;
    
        }
    }

   

   
}

@media (max-width: 375px) {
    .jumbotron-3 p {
        width: 70%;
        padding: 15px;
        background-size: none;
        padding: 50px 0;
        font-size: 15px;
        .h1 {

            font-size: 24px;
            margin-bottom: 20px;
        }
        .p {

            width: 100%;
    
            padding: 20px;
        }
    }
}

/* ----RESPOSIVE main servicios---- */
@media (max-width: 768px) {

    p.text {
        font-size: 15px;
        padding: 10px;
    }
}
@media (max-width: 426px) {
    .container-servicios {
        display: flex !important;
        flex-wrap: wrap !important;
        flex-direction: column !important;
        p.text {
            font-size: 15px;
            gap: 10px;
        }
        h2 {
            font-size: 20px;
        }
    }
}

@media (max-width: 375px) {
    .container-servicios {
        display: flex !important;
        flex-wrap: wrap !important;
        flex-direction: column !important;
        p.text {
            font-size: 15px;
            gap: 10px;
        }
        h2 {
            font-size: 20px;

        }
    }
}

@media (max-width: 375px) {
    .jumbotron-3 p {
        width: 70%;
        padding: 15px;
        background-size: none;
        padding: 50px 0;
        font-size: 15px;
        .h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }
        .p {
            width: 100%;
            padding: 20px;
        }
    }
}